body {
  overflow: hidden;
  user-select: none;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 6px 0 !important;
}

#root {
  --shadow: 0 6px 16px 0 #dc7a0314, 0 3px 6px -4px #dc7a031f, 0 9px 28px 8px #dc7a030d;
}

.drag-region {
  -webkit-app-region: drag;
  /* 设置此区域为可拖动 */
  flex: 1;
  top: 0;
  width: -webkit-fill-available;
  position: absolute;
  padding-inline: 6px;
  padding-block: 4px;
  border-bottom: 1px solid #000000;
}

.ant-radio-group {
  display: unset !important;
}

.logo {
  width: 26px;
}

.ant-divider {
  margin: 8px 0px
}

.ant-layout {
  height: 100vh;
  padding: 8px;
}

.ant-segmented-group {
  gap: 2px;
}

.ant-segmented {
  border-radius: 15px !important;
}

.ant-segmented-item {
  border-radius: 50% !important;
}

.ant-segmented-item-label {
  padding: 2px 5px !important;
}

.ant-typography {
  margin-bottom: 1px !important
}
button:hover{
  box-shadow: var(--shadow) !important;
}
input:focus {
  box-shadow: var(--shadow);
}

.ant-picker.ant-picker-range.ant-picker-focused {
  box-shadow: var(--shadow);
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:hover {
  box-shadow: var(--shadow);
}

.ant-switch.ant-switch-checked:hover {
  box-shadow: var(--shadow);
}

.container {
  margin: 0;
  margin-block-start: 38px;
  margin-inline: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
}